<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://fb.me/react-0.14.3.js"></script>
  <script src="https://fb.me/react-dom-0.14.3.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
</head>
<body >
<div class="container" style="width:100%;">
    <% include menu.ejs %>
    <% if (typeof(error)==undefined)  { %>
  <h1>Invalid</h1>
    <% } else { %>
  <h1>Valid</h1>
    <% } %>
  <script>var books_image='/images/books.jpg';</script>
  <script>var videogames_image='/images/games.jpg';</script>
  <script>var appliance_image='/images/appliances.jpg';</script>
  <script>var mobile_image='/images/mobile.jpg';</script>
  <script>var book_icon='/images/book-icon.png'</script>
  <script type="text/babel" src='/javascripts/main_menu_components.js' ></script>
    <div id="test"></div>
</div>
</body>

</html>
