<nav class="navbar navbar-inverse">
    <div class="container-fluid background_blue">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">LendIt</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar" style="color:black">
            <ul class="nav navbar-nav">
                <li><a href="#">Borrow</a></li>
                <li><a href="/lend">Lend</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span>Guest</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>