body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-image: url("../images/wallpaper.jpg");*/
}

.background_orange{
  background-color: orange;
}

.background_blue{
  background-color: saddlebrown;
  color: black;

}

a {
  color: #00B7FF;
}
